<form action="/albums" method="POST">
 <h1>Add a new album</h1>
  <label>Title: </label>
  <input type="text" name="title">
  <label>Release year: </label>
  <input type="text" name="release_year">
  <label>Artist ID:</label>
  <input type="text" name="artist_id">

  <input type="submit" value="Submit the form">
</form>